{% extends 'base.html.twig' %}

{% block title %}Nos Activités | Service Educatif{% endblock %}
{% block description %}La diversité des activités proposées à SEMER est un élément primordial pour renouer avec la confiance en soi. {% endblock %}

{% block body %}

<!-- Activities background image-->
<div id="parallax1" style="background-image:url('{{ asset('images/activites.webp') }}')">
</div>

<!-- Activities Title-->
<section id="hero" class="section">
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="herotext text-center">
                        <h1 class="title-section"><b>NOS ACTIVITÉS D'ACCOMPAGNEMENT EDUCATIF</b></h1>
                    </div>
                </div>
                
            </div>
    </div>
</section>  


<section class="parallax section white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <div class="maintitle">
                    <p class="lead ">
                        Les actions éducatives mises en oeuvre ont deux objectifs bien définis. 
                        Il s’agit, dans un premier temps, de permettre à chaque jeune d’atteindre une certaine forme d’apaisement grâce 
                        à un cadre sécurisant, puis dans un second temps, lui permettre d’acquérir de nouvelles compétences grâce à un cadre contenant. 
                        Tout est mis en place pour le mettre en situation de réussite et révéler ses potentialités.
                        <br><br>
                        La diversité des activités proposées au SEMER est un élément primordial pour renouer avec la confiance en soi. 
                        C’est cette confiance qui permettra aux jeunes de se projeter dans le temps, de s’appuyer sur des expériences positives 
                        passées et présentes pour aller plus sereinement de l’avant. Cette démarche d’émancipation est soutenue grâce à notre suivi 
                        individualisé qui, progressivement, met le jeune en position d’être l’auteur et l’acteur de son projet d’existence.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parallax section white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <h4 class="title-black text-center">A. LES SÉJOURS D'ÉLOIGNEMENTS</h4><br>
                <p class="lead">
                    Pour le SEMER, les séjours d’éloignement sont essentiels dans l’aide à la construction identitaire des jeunes en difficultés. 
                    Nos séjours ont pour objectifs de permettre à ces adolescent(e)s de sortir de leur « zone de confort » pour qu’ils puissent 
                    s’envisager différemment. Durant ces séjours, un travail sur les effets positifs de la cohésion de groupe est constamment amorcé. 
                    Par le biais de ces séjours, nous travaillons avec eux les effets positifs de l’éloignement d’avec leur quotidien, nous leur 
                    permettons d’apprendre le dépassement de soi, de se revaloriser et de regagner l’estime qu’ils ont d’eux même.
                    <br>
                </p>
                <div class="container container-alignment">
                    <img src="{{ asset('images/camping.webp') }}" alt="kayak image" class="responsive-images">  
                    <br><br>
                </div>
                <p class="lead">
                    Durant ces séjours, nous avons l’occasion d’apprendre de chacun des jeunes. Ainsi, nous pouvons mieux répondre à leurs attentes 
                    et leurs besoins. Les séjours d’éloignement proposés par le SEMER induisent de ce fait des changements dans les habitudes de vie 
                    de ces jeunes, créant ainsi pour eux de nouveaux repères mobilisables dans l’action éducative.
                    <br><br>
                    Notre objectif est de faire de l’éloignement un tremplin dans un processus de transformation durable et positif des 
                    représentations sociales de soi, des autres et des institutions.
                    <br><br><br>

                </p>
            </div>
        </div>
    </div>
</section>

<section class="parallax section white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <h4 class="title-black text-center">B. LA RANDONNÉE</h4><br>
                <p class="lead ">
                    Les randonnées nous permettent de travailler avec efficacité la cohésion et la dynamique de groupe. 
                    Les marches se font toujours ensemble et c’est ensemble que chacun affronte les difficultés, les intempéries et la fatigue. 
                    Si l’un d’eux éprouve des difficultés plus importantes, c’est tout le groupe qui doit le soutenir et l’accompagner afin qu’il 
                    puisse arriver au bout de l’exercice. De plus, la marche favorise l’échange entre jeunes et éducateurs qui participent au même titre qu’eux à l’effort.
                    <br>
                </p>
                <div class="container container-alignment">
                    <img src="{{ asset('images/hiking.webp') }}" alt="kayak image" class="responsive-images" >  
                    <br><br>
                </div>
                <p class="lead ">
                    Au niveau individuel, la randonnée est un outil éducatif essentiel puisqu’elle favorise le recentrage sur soi lors des longs moments de marche tout en 
                    éveillant une sensibilité à la nature et à la découverte de nouveaux paysages. Enfin, elle permet aux jeunes de se dépasser dans l’effort et de générer 
                    chez eux un véritable sentiment de réussite et d’accomplissement.
                    <br><br>
                    Ainsi, la randonnée est un levier particulièrement efficace pour travailler l’estime de soi chez les jeunes placés.
                    <br><br><br>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="parallax section white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <h4 class="title-black text-center">C. JUDO / JIUJITSU BRÉSILIEN / GRAPPLING/ LUTTE</h4><br>
                <p class="lead ">
                    Les sports d’opposition sont souvent considérés comme étant une véritable école de vie. 
                    Ces sports visent à permettre à chaque jeune d’amorcer un travail sur soi par l’expérience d’une violence canalisée et maitrisée.
                    <br><br>
                    Le rapport à l’autre est de la même façon mis en avant puisque l’adversaire est toujours respecté avec ce souci de ne pas 
                    porter de coup pour faire mal. Enfin, le cadre rigoureux qui entoure l’exercice de ces sports garantit aux jeunes un contexte d’évolution rassurant.
                    <br><br>
                </p>
                <div class="container container-alignment">
                    <img src="{{ asset('images/judo.webp') }}" alt="kayak image" class="responsive-images" >  
                    <br><br>
                </div>
                <p class="lead ">
                    D’autres activités sportives sont proposées aux jeunes notamment : de la natation, de la boxe, des renforcements musculaires, des courses d’endurance, 
                    de l’escalade, du football, du basket-ball, etc…
                    Il s’agit avant tout d’éveiller leur curiosité et leur esprit sportif tout en conservant un côté ludique : compétition, goût de l’effort, souci de l’autre, cohésion de groupe…
                    <br><br>
                    Les activités sportives ont pour but de remobiliser le jeune, d’améliorer ses capacités physiques, de développer et affiner sa motricité et de lui donner confiance en lui.
                    <br><br>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="parallax section white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <h4 class="title-black text-center">D. LE THÉÂTRE</h4><br>
                <p class="lead ">
                    Cette activité ouvre aux apprentissages de la parole. Par la pratique théâtrale les jeunes sont amenés à travailler de façon ludique leur expression 
                    verbale, leur confiance en eux et en l’autre (puisque le jeu d’acteur se fait toujours avec l’autre), leur posture et l’écoute de l’autre. 
                    Ils envisagent le pouvoir de la parole et sa mise en scène dans la société, en reconsidérant les registres de la parole selon les situations : 
                    parole intime pour la sphère privée, parole institutionnelle pour la sphère publique.
                    <br><br>
                </p>
                <div class="container container-alignment">
                    <img src="{{ asset('images/theatre.webp') }}" alt="kayak image" class="responsive-images" >  
                    <br><br>
                </div>
                <p class="lead ">
                    L’activité proposée est aussi vectrice de lien social car elle amène les jeunes à fréquenter les institutions culturelles locales pour voir du spectacle vivant 
                    (théâtres publics, musées, médiathèques, CSC, associations partenaires) afin d’enrichir leur culture et les ouvrir à la vie culturelle de la région.
                    <br><br><br>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="parallax section white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <h4 class="title-black">E. LES ATELIERS D'ÉCRITURE ET ENREGISTREMENT STUDIO</h4><br>
                <p class="lead ">
                    Pour parfaire l’expression, libérer la parole, tout en rendant attentif le jeune aux codes de l’expression orale et écrite, des ateliers d’écritures sont mis 
                    en place chaque semaine. Grâce à ces ateliers, les jeunes peuvent découvrir d’autres armes pour s’exprimer que des actes répréhensibles, ils y apprennent à 
                    mettre des mots sur leur souffrance et leur désir et développent leur vocabulaire, outil indispensable à une socialisation réussie.
                    <br><br>
                    Le choix d’atelier d’écriture de culture urbaine est guidé par le fait indéniable qu’elle accroche les jeunes générations. 
                    Pouvoir enregistrer un texte rap en studio, et s’initier à la musique assistée par ordinateur apparaît comme la concrétisation d’un projet qui mobilise 
                    et fédère ce type de public, enthousiaste à l’idée d’être acteur dans la réalisation de sa propre musique qu’il pourra ensuite mettre en réseau.
                    <br><br>
                </p>
                <div class="container container-alignment">
                    <img src="{{ asset('images/writting.webp') }}" alt="kayak image" class="responsive-images" >  
                    <br><br>
                </div>
                <p class="lead ">
                    Cela exige des compétences que le jeune devra mobiliser notamment dans l’axe scolaire, de façon détournée, grâce aux corrections de textes, la recherche de synonymes, etc… 
                    Le jeune sera confronté, étape par étape, à toute une série de tâches indispensables à l’aboutissement du projet.
                    <br><br>
                </p>
            </div>
            
        </div>
    </div>
</section>

{#Footer blue background#}
{% include 'semer/footer1.html.twig' %}

{% endblock %}