{% extends 'base.html.twig' %}

{% block title %}Nos Outils | Service Educatif{% endblock %}
{% block description %}Les bénéficiaires de SEMER bénéficient aux plusiers outils d'aides à la construction identitaire. {% endblock %}

{% block body %}
<!-- Outils background image-->
<div id="parallax1" style="background-image:url('{{ asset('images/outils1.webp') }}')">
</div>

<!-- Outils Title-->
 <section id="hero" class="section">
    <div class="container">
         <div class="row">
              <div class="col-md-12">
                   <div class="herotext text-center">
                        <h1 class="title-section"><b>NOS OUTILS D'AIDES À LA CONSTRUCTION IDENTITAIRE </b></h1>
                   </div>
              </div>
              
         </div>
    </div>
</section>  


<section class="parallax2 section" style="background-color: white; ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h4 class="title-black text-center">A. LA PSYCHOLOGUE</h4><br>
                <p class="lead1">
                    Les bénéficiaires du SEMER bénéficient d’entretiens réguliers avec une psychologue. 
                    Ces entretiens individuels ont pour but de permettre aux adolescents de mettre en mots ce qu’ils vivent, 
                    et ainsi pouvoir travailler leur histoire personnelle en toute confiance. La psychologue est fréquemment 
                    consultée dans l’élaboration du projet individuel des jeunes mis en place par l’équipe éducative. 
                    La psychologue occupe une position de tiers dans la relation entre l’adolescent et l’équipe éducative. 
                    Elle apporte des points de vue différents enrichissant les réflexions et les remises en question dans l’intérêt du mineur.
                    <br><br>
                </p>
            </div>
            <div class="col-md-4 col-sm-4" style="text-align: center; display: table-cell; vertical-align: middle;">
                <img src="{{ asset('images/psychologue.webp') }}" alt="kayak image" style="width:100%;" >  
            </div>
        </div>
        <br><br>
    </div>
</section>

<section class="parallax2 section" style="background-color: #c8e6f4;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4" style="text-align: center; display: table-cell; vertical-align: middle;">
                <br><br>
                <img src="{{ asset('images/scolarite.webp') }}" alt="kayak image" style="width:100%;" >  
                <br><br>
            </div>
            <div class="col-md-8 col-sm-8">
                <h4 class="title-black text-center">B. LA SCOLARITÉ</h4><br>
                <p class="lead1">
                    Un retour à la scolarité nous paraît essentiel pour tous les mineurs de moins de 16 ans. 
                    Nous savons que pour la plupart d’entre eux, l’école est synonyme d’échecs. Ils sont donc généralement réfractaires 
                    à l’idée de retourner en milieu scolaire. C’est pourquoi, le SEMER propose la mise en place de créneaux dédiés à de 
                    l’aide scolaire personnalisée ainsi que des parcours d’apprentissages adaptés pour développer les savoir-faire et 
                    les savoir-être de ces jeunes. Ces actions ont pour but de leur redonner confiance et de les réconcilier avec une 
                    scolarité plus individualisée et donc plus adaptée.
                    <br><br>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="parallax2 section" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h4 class="title-black text-center">C. LES STAGES ET APPRENTISSAGES</h4><br>
                <p class="lead1">
                    Le SEMER est doté d’un vaste réseau d’entreprises et d’associations partenaires, 
                    qui permet aux bénéficiaires un accès à de nombreux stages de découverte professionnelle. 
                    LE SEMER accompagne les bénéficiaires à partir de 16 ans, dans un parcours de découverte et d’intégration professionnelle, individualisé et co-construit.
                    <br><br>
                </p>
            </div>
            <div class="col-md-4 col-sm-4" style="text-align: center; display: table-cell; vertical-align: middle;">
                <br><br>
                <img src="{{ asset('images/stages.webp') }}" alt="kayak image" style="width:100%;" >  
            </div>
        </div>
    </div>
</section>

<section class="parallax2 section" style="background-color: #c8e6f4;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4" style="text-align: center; display: table-cell; vertical-align: middle;">
                <br><br>
                <img src="{{ asset('images/developpement.webp') }}" alt="kayak image" style="width:100%;" >
                <br><br>
            </div>

            <div class="col-md-8 col-sm-8">
                <h4 class="title-black text-center">D. LE DÉVELOPPEMENT PERSONEL</h4><br>
                <p class="lead1">
                    <b>“Ta deuxième vie commence quand tu comprends que tu n’en as qu’une“ (Raphael Giordano)</b>
                    <br><br>
                    Nos bénéficiaires ont tous droit à des rendez-vous avec un coach diplômé en développement personnel. 
                    À travers cette approche nous visons à développer chez l’adolescent une amélioration de la connaissance de soi, 
                    la valorisation de ses talents et de son potentiel, mais surtout nous désirons le pousser à réaliser ses aspirations et ses rêves. 
                    Car, si notre objectif est d’accompagner ces adolescents pour qu’ils puissent combattre les pensées négatives qu’ils ont d’eux-mêmes, 
                    il est aussi de leur mettre en exergue une multitude d’images positives leur permettant de se découvrir non pas au travers de l’image 
                    négative qu’on leur a renvoyé toute leur vie, mais à travers l’image positive qu’est cette rencontre avec eux-mêmes.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="parallax2 section" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h4 class="title-black text-center">E. LA RÉFLEXOLOGIE PLANTAIRE</h4><br>
                <p class="lead1">
                    Nous mettons en place également des séances de réflexologie plantaire. Cette méthode thérapeutique qui utilise le processus d’auto-guérison naturel du corps.
                    <br><br>
                    Le pied est une représentation miniature du corps humain où chaque zone correspond à un organe ou une partie de corps humain. 
                    En stimulant manuellement ces zones réflexes, il est possible d’agir sur les organes ou les fonctions qu’elles représentent.
                    <br><br>
                    Les motifs de ces séances auprès d’un praticien en zones réflexes sont nombreux, 
                    la réflexologie ayant de multiples applications. Les bienfaits pour nos bénéficiaires sont à la fois physiques et psychiques.
                    <br><br>
                    La réflexologie plantaire dynamise l’organisme, harmonise les fonctions vitales, libère le stress et les tensions nerveuses,
                    soulage les tensions du dos, améliore la circulation sanguine, apporte détente et relaxation profonde, soulage des douleurs chroniques 
                    ou temporaires, active le système lymphatique et décontracte les muscles. Elle permet également la décontraction mentale et l’évacuation des émotions négatives.
                    <br><br>
                </p>
            </div>
            <div class="col-md-4 col-sm-4" style="text-align: center; display: table-cell; vertical-align: middle;">
                <br><br><br>
                <img src="{{ asset('images/reflexology.webp') }}" alt="kayak image" style="width:100%;" >
                <br>
            </div>
        </div>
    </div>
</section>

<section class="parallax2 section" style="background-color: #c8e6f4;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4" style="text-align: center; display: table-cell; vertical-align: middle;">
                <br><br>
                <img src="{{ asset('images/teamwork.webp') }}" alt="kayak image" style="width:100%;" > 
                <br><br>
            </div>

            <div class="col-md-8 col-sm-8">
                <h4 class="title-black text-center">F. LE SOUTIEN AUX ÉQUIPES</h4><br>
                <p class="lead1">
                    Nous sommes conscients des difficultés que représente l’accompagnement éducatif. 
                    Nous sommes conscients que l’investissement des professionnels du secteur éducatif pour accompagner 
                    les bénéficiaires est total mais souvent épuisant. C’est conscient de ces réalités, que nous proposons 
                    un service d’intervention d’urgence et de soutien pour les équipes éducatives des institutions rencontrant des difficultés. 
                    Nos interventions sont assurées par des professionnels diplômés qui pourront apporter leurs compétences et leurs connaissances 
                    aux équipes déjà en place tout en s’adaptant parfaitement à leur mode de fonctionnement ainsi qu'à celui de l’institution.
                    <br><br>
                </p>
            </div>
        </div>
    </div>
</section>

{#Footer white background#}
{% include 'semer/footer.html.twig' %}

{% endblock %}